{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': location} %}
    </div>
{% endblock %}