{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Sources
{% endblock %}

{% block table_headers %}
    <th>Name</th>
    <th>Copyright Notice</th>
    <th>Actions</th>
{% endblock %}

{% block table_rows %}
    {% for source in sources %}
        <tr class="{% include "base/utilities/inactive_entity_row_classes.html.twig" with {'entity': source} %}">
            <td class="align-middle">{{ source.name }}</td>
            <td class="align-middle">{{ source.copyrightNotice }}</td>
            <td class="align-middle text-nowrap">
                {% include "base/buttons/entity_list_edit_button.html.twig" with {'entityName': entityName, 'entity': source} %}
                {% include "base/buttons/entity_activate_buttons.html.twig" with {'entityName': entityName, 'entity': source} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
