{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12 text-center">
        <h1>Tworzenie postaci</h1>
        <div class="pf2-subtitle"></div>
    </div>
    <div class="col-md-12">
        <div class="mb-4">
            Tworzenie postaci w Sigmarii jest bardzo podobne do oficjalnych zasad tworzenia postaci - Kyros, jak zawsze, tkwi w szczegółach.
            Poniżej znajduje się lista kroków niezbędnych do stworzenia postaci.
            Większość z nich działa dokładnie tak, jak sugeruje CRB (Core Rulebook) drugiej edycji Pathfindera, dlatego też odsyłam w nich do książki (zasady te zaczynają się na stronie 19).
            Nieliczne kroki, które różnią się od oficjalnych zasad, są (mam nadzieję) dobrze opisane.
        </div>
        <div>
            {% for step in steps %}
                <div {% if not loop.index == loop.last %}class="mb-4"{% endif %}>
                    <h3>{{ loop.index }}. {{ step.name }}</h3>
                    {{ step.description|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}