{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        {% include 'core/information_page/character_creation_header.html.twig' with {headerTitle: 'Character Creation'} %}
    </div>
    <div class="col-md-12">
        <div>
            {% for step in steps %}
                <div {% if not loop.index == loop.last %}class="mb-4"{% endif %}>
                    <h3>{{ loop.index }}. {{ step.name }}</h3>
                    {{ step.description|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}