<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{{ asset('images/icons/favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />

        <title>{% block title %}Sigmaria{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('css/sigmaria.css') }}">
            <link rel="stylesheet" href="{{ asset('css/pf2.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/45286b02fb.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

            <script>
                $( document ).ready(function () {
                    $('.js-example-basic-single').select2();
                    $('.js-example-basic-multiple').select2();
                });

                $('.js-example-basic-multiple').on('change', function() {
                    $(this).find('li').removeClass('text-primary');
                    $(this).find('li:selected').addClass('text-primary');
                });

                $(function () {
                    $('[data-toggle="popover"]').popover()
                })

                $('.popover-dismiss').popover({
                    trigger: 'focus'
                })
            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="sack" class="app bg-dark text-black">
                {% include("base/components/navbar.html.twig") %}
                <div class="container margin-top-30 pf2-container padding-top-botton-15">
                    {% include("base/components/flashbag.html.twig") %}
                    <div class="row">
                        {% block content %}
                            <div class="col-md-12">
                                <img class="img-fluid border border-light" src="/images/phandalin.png" alt="Phandalin czeka!">
                            </div>
                        {% endblock %}
                    </div>
                </div>
                {% include("base/components/footer.html.twig") %}
            </div>
        {% endblock %}
    </body>
</html>
