{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        {% block form_title %}{% endblock %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Zapisz <i class="fas fa-save"></i></button>
        {{ form(form) }}
    </div>
{% endblock %}
