{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1 class="{% if not is_granted('ROLE_ADMIN') %}mb-5{% endif %} {% block title_classes %}{% endblock %}">{% block list_title %}{% endblock %}</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-2 float-right">
                {% block top_right_buttons %}
                    {% include "base/buttons/entity_create_button.html.twig" with {'entityName': entityName} %}
                {% endblock %}
            </div>
        {% endif %}

        <table class="table table-responsive table-striped bg-light text-center">
            <thead>
                <tr>
                    {% block table_headers %}{% endblock %}
                </tr>
            </thead>
            <tbody>
                {% block table_rows %}{% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}
