<div class="mb-4">
    <h2>Ancestral Features</h2>
    {% if isAdmin %}
        {% set ancestralFeatures = entity.ancestralFeatures %}
    {% else %}
        {% set ancestralFeatures = entity.activeAncestralFeatures %}
    {% endif %}

    {% if ancestralFeatures is empty %}
        None
    {% else %}
        {% for feature in ancestralFeatures %}
            {% include 'ancestry/feature/entry.html.twig' with {'feature': feature} %}
        {% endfor %}
    {% endif %}
</div>