{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Ancestral Features
{% endblock %}

{% block table_headers %}
    <th class="align-middle">Name</th>
    <th class="align-middle">Value</th>
    <th class="align-middle">Ancestries</th>
    <th class="align-middle">Heritages</th>
    <th class="align-middle">Actions</th>
{% endblock %}

{% block table_rows %}
    {% for ancestralFeature in ancestralFeatures %}
        <tr class="{% include "base/utilities/inactive_entity_row_classes.html.twig" with {'entity': ancestralFeature} %}">
            <td class="align-middle">{{ ancestralFeature.name }}</td>
            <td class="align-middle">{{ ancestralFeature.value }}</td>
            <td class="align-middle">
                {% for ancestry in ancestralFeature.ancestries %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'ancestry', 'entityId': ancestry.id} %} {{ ancestry.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            </td>
            <td class="align-middle">
                {% for heritage in ancestralFeature.heritages %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'heritage', 'entityId': heritage.id} %} {{ heritage.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            </td>
            <td class="align-middle text-nowrap">
                {% include "base/buttons/entity_list_edit_button.html.twig" with {'entityName': entityName, 'entity': ancestralFeature} %}
                {% include "base/buttons/entity_delete_buttons.html.twig" with {'entityName': entityName, 'entity': ancestralFeature} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
