{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Zdolności rasowe
{% endblock %}

{% block table_headers %}
    <th>Nazwa</th>
    <th>Opis</th>
    <th>Wartość</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for ancestralFeature in ancestralFeatures %}
        <tr class="{% include "base/utilities/inactive_entity_row_classes.html.twig" with {'entity': ancestralFeature} %}">
            <td class="align-middle">{{ ancestralFeature.name }}</td>
            <td class="align-middle">{{ ancestralFeature.description|length > 500 ? ancestralFeature.description|slice(0, 500) ~ '...' : ancestralFeature.description }}</td>
            <td class="align-middle">{{ ancestralFeature.value }}</td>
            <td class="align-middle text-nowrap">
                {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': ancestralFeature} %}
                {% include "base/buttons/entity_delete_buttons.html.twig" with {'entityName': entityName, 'entity': ancestralFeature} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
