{% extends "base/base_list.html.twig" %}

{% block list_title %}
    <h1>Zdolności rasowe</h1>
{% endblock %}

{% block table_headers %}
    <th>Nazwa</th>
    <th>Opis</th>
    <th>Wartość</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for ancestralFeature in ancestralFeatures %}
        <tr>
            <td class="align-middle">{{ ancestralFeature.name }}</td>
            <td class="align-middle">{{ ancestralFeature.description }}</td>
            <td class="align-middle">{{ ancestralFeature.value }}</td>
            <td class="align-middle">
                {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entityId': ancestralFeature.id} %}
                {% include "base/buttons/entity_delete_button.html.twig" with {'entityName': entityName, 'entityId': ancestralFeature.id} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
