/*#sack*/
/*{*/
/*    padding-top: 86px; !* 56 navbar + 30 *!*/
/*}*/

.margin-top-30  {
    margin-top: 30px;
}

.indented {
    text-indent: 1rem;
}

p.popper {
    display: inline;
}

.select2-selection__choice {
    color: #007bff;
}