/*#sack*/
/*{*/
/*    padding-top: 86px; !* 56 navbar + 30 *!*/
/*}*/

.margin-top-30  {
    margin-top: 30px;
}

.margin-top-15 {
    margin-top: 15px;
}

.padding-top-botton-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.indented {
    text-indent: 1rem;
}

.select2-selection__choice {
    color: #007bff;
}