{% extends "base/base_list.html.twig" %}

{% block list_title %}
    <h1>Rasy</h1>
{% endblock %}

{% block table_headers %}
    <th>Nazwa</th>
    <th>Wartość</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for ancestry in ancestries %}
        <tr>
            <td class="align-middle">{{ ancestry.name }}</td>
            <td class="align-middle">{{ ancestry.value }}</td>
            <td class="align-middle">
                {% include "base/buttons/entity_show_button.html.twig" with {'entityName': entityName, 'entityId': ancestry.id} %}
                {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entityId': ancestry.id} %}
                {% include "base/buttons/entity_delete_button.html.twig" with {'entityName': entityName, 'entityId': ancestry.id} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
