{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-4 mb-4">
        {% set title %}
            <i class="fas fa-book-open"></i>
            Start here
        {% endset %}
        {% set content %}
            <a href="{{ path('setting_keystones') }}" class="badge badge-danger border border-blood" role="button"><i class="fas fa-search"></i></a> Setting foundations<br />
            <a href="#" class="badge badge-danger border border-blood" role="button"><i class="fas fa-search"></i></a> Planned campaigns<br />
            <a href="{{ path('character_creation') }}" class="badge badge-success border border-blood" role="button"><i class="fas fa-search"></i></a> Character creation<br />
            <a href="#" class="badge badge-danger border border-blood" role="button"><i class="fas fa-search"></i></a> Homebrew
        {% endset %}

        {% include 'base/components/card.html.twig' with {'title': title, 'content': content} %}
    </div>
    <div class="col-md-4 mb-4">
        {% set title %}
            <i class="fas fa-hand-paper"></i>
            Primary ancestries
        {% endset %}
        {% set content %}
            {% if coreAncestries is not empty %}
                {% for ancestry in coreAncestries %}
                    {% include "base/badges/entity_slug_show_badge.html.twig" with {'entityName': 'ancestry', 'entitySlug': ancestry.slug} %}
                    {{ ancestry.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% else %}
                <h5 class="text-danger text-center"><i class="fas fa-times"></i> None!</h5>
            {% endif %}
        {% endset %}

        {% include 'base/components/card.html.twig' with {'title': title, 'content': content} %}
    </div>
    <div class="col-md-4 mb-4">
        {% set title %}
            <i class="fas fa-paw"></i>
            Secondary ancestries
        {% endset %}
        {% set content %}
            <h3 class="text-danger text-center"><i class="fas fa-times"></i> None!</h3>
        {% endset %}

        {% include 'base/components/card.html.twig' with {'title': title, 'content': content} %}
    </div>
{% endblock %}