{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-4 mb-4">
        {% set title %}
            <i class="fas fa-chess-rook"></i>
            Na dobry początek
        {% endset %}
        {% set content %}
            <a href="#" class="badge badge-danger border border-white" role="button"><i class="fas fa-search"></i></a> Prawdy o Sigmarii<br />
            <a href="#" class="badge badge-danger border border-white" role="button"><i class="fas fa-search"></i></a> Planowane kampanie<br />
            <a href="{{ path('character_creation') }}" class="badge badge-success border border-white" role="button"><i class="fas fa-search"></i></a> Tworzenie postaci<br />
            <a href="#" class="badge badge-danger border border-white" role="button"><i class="fas fa-search"></i></a> Domowe zasady
        {% endset %}

        {% include 'base/components/card.html.twig' with {'title': title, 'content': content} %}
    </div>
    <div class="col-md-4 mb-4">
        {% set title %}
            <i class="fas fa-hand-paper"></i>
            Podstawowe rasy
        {% endset %}
        {% set content %}
            {% if coreAncestries is not empty %}
                {% for ancestry in coreAncestries %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'ancestry', 'entityId': ancestry.id} %}
                    {{ ancestry.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% else %}
                <h5 class="text-danger text-center"><i class="fas fa-times"></i> Brak!</h5>
            {% endif %}
        {% endset %}

        {% include 'base/components/card.html.twig' with {'title': title, 'content': content} %}
    </div>
    <div class="col-md-4 mb-4">
        {% set title %}
            <i class="fas fa-paw"></i>
            Pozostałe rasy
        {% endset %}
        {% set content %}
            <h5 class="text-danger text-center"><i class="fas fa-times"></i> Brak!</h5>
        {% endset %}

        {% include 'base/components/card.html.twig' with {'title': title, 'content': content} %}
    </div>
{% endblock %}