<div class="col-md-12 mt-2 mb-2">
    <h2 class="d-inline">
        Dziedzictwa
    </h2>
    {% if isAdmin %}
        {% include 'base/buttons/entity_display_create_button.html.twig'
            with
            {
                'baseEntityName': entityName,
                'subEntityName': 'heritage',
                'baseEntity': entity
            }
        %}
    {% endif %}
</div>

{% if isAdmin %}
    {% set heritages = entity.heritages %}
{% else %}
    {% set heritages = entity.activeHeritages %}
{% endif %}

{% if heritages is empty %}
    <div class="col-md-12 mb-4">
        Brak.
    </div>
{% else %}
    {% for heritage in heritages %}
        <div class="col-md-6">
            {% include "ancestry/heritage/entry.html.twig" with {'heritage': heritage} %}
        </div>
    {% endfor %}
{% endif %}
