{% set showPathName = (entityName ~ '_show') %}

<a href="{{ path(showPathName, {"id": entity.id}) }}" class="badge badge-success border border-white" role="button">Zobacz <i class="fas fa-search"></i></a>