{% if entity.isActive %}
    {% include "base/badges/entity_kill_badge.html.twig"
        with
        {
            'entityName': 'feat',
            'entityId': entity.id
        }
    %}
{% endif %}

{% if not entity.isActive or (not entity.isToBeReleased and entity.edits is defined and entity.edits) %}
    {% set stagePathName = (entityName ~ '_stage') %}

    <a href="{{ path(stagePathName, {"id": entity.id}) }}" class="badge badge-success border border-blood" role="button"><i class="fas fa-plus-square"></i></a>
{% endif %}

{% if entity.isToBeReleased and (not entity.isActive or (entity.edits is defined and entity.edits)) %}
    {% set unstagePathName = (entityName ~ '_unstage') %}

    <a href="{{ path(unstagePathName, {"id": entity.id}) }}" class="badge badge-danger border border-blood" role="button"><i class="fas fa-minus-square"></i></a>
{% endif %}