{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Wydania
{% endblock %}

{% block table_headers %}
    <th>Wersja</th>
    <th>Nazwa</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for release in releases %}
        {% if isAdmin or release.isLaunched %}
        <tr>
            <td class="align-middle">{{ release.getContentVersion }}</td>
            <td class="align-middle">{{ release.name }}</td>
            <td class="align-middle text-nowrap">
                {% include "base/buttons/entity_show_button.html.twig" with {'entityName': entityName, 'entity': release} %}
                {% if isAdmin %}
                    <a href="{{ path('release_edit', {"id": release.id}) }}" class="btn btn-outline-primary" role="button">Edit <i class="fas fa-bolt"></i></a>
                    {% if not release.isLaunched %}
                        <a href="{{ path('release_launch', {"id": release.id}) }}" class="btn btn-outline-info" role="button">Release <i class="fas fa-bolt"></i></a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
{% endblock %}
