{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="mb-2">
            <div style="width: 100%; display: inline-block;">
                <div class="float-right">
                    {% if isAdmin %}
                        {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': release} %}
                    {% endif %}
                    {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
                </div>
            </div>

            <div class="text-center">
                <h1>
                    {{ release }}
                </h1>
                <div class="pf2-subtitle">
                    <div class="text-center">
                        {% if release.launchDate %}
                            Release launched on {{ release.launchDate|date('Y-m-d') }}
                        {% else %}
                            Release not yet launched
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        {% if release.contentChangesNote %}
            <div class="mb-2">
                <h2 class="mb-2">Content changes:</h2>
                {{ release.contentChangesNote|raw }}
            </div>
        {% endif %}
    </div>

    <div class="col-md-12">
        <h2 class="mb-2">
            {% if release.launchDate %}
                Released content:
            {% else %}
                Content to be released:
            {% endif %}
        </h2>
    </div>

    {% include 'core/release/content_display.html.twig' %}

    {% if release.launchDate %}
        <div class="col-md-12">
            <h2 class="mb-2">Updated content:</h2>
        </div>

        {% include 'core/release/updated_content_display.html.twig' %}
    {% endif %}
{% endblock %}