{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="mb-2">
            <div style="width: 100%; display: inline-block;">
                <div class="float-right">
                    {% if isAdmin %}
                        {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': release} %}
                    {% endif %}
                    {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
                </div>
            </div>

            <div class="text-center">
                <h1>
                    {{ release }}
                </h1>
                <div class="pf2-subtitle">
                    <div class="text-center">
                        Release from {{ release.createdAt|date('Y-m-d') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        {% if release.contentChanges %}
            <div class="mb-4">
                <h2 class="mb-2">Zmiany zawartości:</h2>
                {{ release.contentChanges|raw }}
            </div>
        {% endif %}
        <h2 class="mb-2">Released content:</h2>
    </div>

    {% include 'core/release/content_array_display.html.twig' %}
{% endblock %}