{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': language} %}
    </div>
    <div class="col-md-6">
        <h5>
            Rzadkość
        </h5>
        <p class="mb-4">{{ language.rarity.name }}</p>
    </div>
    <div class="col-md-6">
        <h5>
            Pismo
        </h5>
        <p class="mb-4">{{ language.script ? language.script.name : 'Nie dotyczy' }}</p>
    </div>
    <div class="col-md-12">
        {{ language.description|raw }}
    </div>
{% endblock %}