{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="mb-4">
            <h1>
                {{ language.name }}
                <div class="float-right">
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': language} %}
                    {% endif %}
                    {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
                </div>
            </h1>

            {% include "base/utilities/entity_release_note.html.twig" with {'entity': language} %}
        </div>
    </div>
    <div class="col-md-6">
        <h5>
            Rzadkość
        </h5>
        <p class="mb-4">{{ language.rarity.name }}</p>
    </div>
    <div class="col-md-6">
        <h5>
            Pismo
        </h5>
        <p class="mb-4">{{ language.script ? language.script.name : 'Nie dotyczy' }}</p>
    </div>
    <div class="col-md-12">
        {{ language.description|raw }}
    </div>
{% endblock %}