{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': background} %}
    </div>

    {% include "setting/background/entry.html.twig" with {'background': background} only %}
{% endblock %}