{% if entity.isActive %}
    {% set deletePathName = (entityName ~ '_delete') %}

    <a href="{{ path(deletePathName, {"id": entity.id}) }}" class="btn btn-outline-danger" role="button">Usuń <i class="fas fa-trash-alt"></i></a>
{% else %}
    {% set activatePathName = (entityName ~ '_revive') %}

    <a href="{{ path(activatePathName, {"id": entity.id}) }}" class="btn btn-outline-secondary" role="button">Wskrześ <i class="fas fa-skull"></i></a>
{% endif %}

