{% set createPathName = (baseEntityName ~ '_' ~ subEntityName ~ '_create') %}

<a href="{{ path(createPathName, {"id": baseEntity.id}) }}" class="btn btn-success border-blood" role="button">Stwórz <i class="fas fa-plus"></i></a>