{% extends "base/base_list.html.twig" %}

{% block list_title %}
    <h1>Atrybuty</h1>
{% endblock %}

{% block table_headers %}
    <th>Nazwa</th>
    <th>Kategoria</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for attribute in attributes %}
        <tr>
            <td class="align-middle">{{ attribute.name }}</td>
            <td class="align-middle">{{ attribute.category.name }}</td>
            <td class="align-middle">
                {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entityId': attribute.id} %}
                {% include "base/buttons/entity_delete_button.html.twig" with {'entityName': entityName, 'entityId': attribute.id} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
