{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        {% include 'base/components/basic_header.html.twig' with {headerTitle: 'Fundamenty świata'} %}
    </div>
    <div class="col-md-12">
        <div>
            {% for foundation in foundations %}
                <div {% if not loop.index == loop.last %}class="mb-4"{% endif %}>
                    <h3>{{ loop.index }}. {{ foundation.name }}</h3>
                    {{ foundation.description|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}