{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Fundamenty świata
{% endblock %}

{% block table_headers %}
    <th>Nazwa</th>
    <th>Kolejność sortowania</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for keystone in keystones %}
        <tr class="{% include "base/utilities/inactive_entity_row_classes.html.twig" with {'entity': keystone} %}">
            <td class="align-middle">{{ keystone.name }}</td>
            <td class="align-middle">{{ keystone.sortOrder }}</td>
            <td class="align-middle text-nowrap">
                {% include "base/buttons/entity_list_edit_button.html.twig" with {'entityName': entityName, 'entity': keystone} %}
                {% include "base/buttons/entity_delete_buttons.html.twig" with {'entityName': entityName, 'entity': keystone} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
