{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Kategorie atrybutów
{% endblock %}

{% block table_headers %}
    <th>Nazwa</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for category in attributeCategories %}
        <tr>
            <td class="align-middle">{{ category.name }}</td>
            <td class="align-middle text-nowrap">
                {% include "base/buttons/entity_list_edit_button.html.twig" with {'entityName': entityName, 'entity': category} %}
                {% if category.attributes is empty %}
                    <a href="{{ path('attribute_category_delete', {"id": category.id}) }}" class="btn btn-outline-danger" role="button">Usuń <i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
