<div class="card border-primary">
    <div class="card-header text-primary">
        <h5 class="mb-0">
            {{ title }}
        </h5>
    </div>
    <div class="card-body text-dark">
        {{ content }}
    </div>
</div>