{% set source = entity.source %}
{% if source %}
    <div class="border-top border-blood">
        <b>Source</b>
        <a href="{{ source.source.productLink }}" class="badge badge-primary border border-blood" target="_blank">
            <abbr title="{{ source.source.copyrightNotice }} {% if source.pagesInfo %}{{ source.pagesInfo }}{% endif %}">
                {{ source.source.name }}
            </abbr>
        </a>
    </div>
{% endif %}