<footer class="footer mt-5">
    <div class="bg-light text-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Website by Mateusz Malarski
                </div>
                <div class="col-md-4">
                    All my love to Harken <3
                </div>
                <div class="col-md-4">RIP Tomcio Paluch.</div>
            </div>
        </div>
    </div>
</footer>