<footer class="footer mt-5">
    <div class="bg-light text-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Website by Mateusz Malarski
                </div>
            </div>
        </div>
    </div>
</footer>