{% extends "base/base.html.twig" %}
{% block content %}
    <h1>Użytkownicy</h1>

    <table class="table table-striped bg-light text-nowrap text-center">
        <thead>
        <tr>
            <th>Email</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_roles', {"id": user.id}) }}" class="btn btn-outline-primary" role="button">Uprawnienia</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
