<div class="mb-2">
    <div style="width: 100%; display: inline-block;">
        <div class="float-right">
            {% if isAdmin %}
                {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': entity} %}
            {% endif %}
            {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
        </div>
    </div>

    <div class="text-center">
        <h1>
            {{ entity.name }}
            {% if isAdmin %}
                {% include 'base/components/activeness_badge.html.twig' with {'entity': entity} %}
            {% endif %}
        </h1>
        <div class="pf2-subtitle">
            {% if entity.description %}
                {{ entity.description|raw }}
            {% else %}
                TBD...
            {% endif %}
            {% include "base/utilities/entity_release_note.html.twig" with {'entity': entity} %}
        </div>
    </div>
</div>