{% extends "base/base.html.twig" %}
{% block content %}
    <h1>Create Weapon Damage</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form(form) }}
{% endblock %}
