{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1>These aren't the droids you're looking for!</h1>
        You have no access to this page, you sly dog :>
    </div>
{% endblock %}