{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1>Oops, Sigmaria rollnęła nat 1!</h1>
        {{ status_code }} - {{ status_text }}
        <br />
        Zawołaj Sigiego, niech naprawi!
    </div>
{% endblock %}