{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1>To nie są droidy, których szukasz!</h1>
        Nie masz dostępu do tej podstrony, ty cwaniaczku :>
    </div>
{% endblock %}