{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1>Oops, website rolled a natural 1!</h1>
        {{ status_code }} - {{ status_text }}
        <br />
        Let me know what's wrong: mateusz.adam.malarski@gmail.com
    </div>
{% endblock %}