<div class="col-md-12">
    <h2>
        {{ displayTitle }}
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'base/buttons/entity_display_create_button.html.twig'
                with
                {
                    'baseEntityName': entityName,
                    'subEntityName': 'feat',
                    'baseEntity': entity
                }
            %}
        {% endif %}
    </h2>
</div>

{% if is_granted('ROLE_ADMIN') %}
    {% set feats = entity.groupedFeats %}
{% else %}
    {% set feats = entity.activeFeats %}
{% endif %}

{% if feats is empty %}
    <div class="col-md-12 mb-4">
        Brak.
    </div>
{% else %}
    {% for featLevel, groupedFeats in feats %}
        <div class="col-md-12 mb-4">
            <h3 class="mb-0"><span class="badge badge-primary border border-blood">
                {% if featLevel == 0 %}
                    Darmowe atuty
                {% else %}
                    Poziom {{ featLevel }}
                {% endif %}
            </span></h3>
        </div>
        {% for feat in groupedFeats %}
            <div class="col-md-6">
                {% include "core/feat/entry.html.twig" with {'feat': feat} %}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
