<div class="col-md-12">
    <h3>
        {{ displayTitle }}
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'base/buttons/entity_display_create_button.html.twig'
                with
                {
                'baseEntityName': entityName,
                'subEntityName': 'feat',
                'baseEntity': entity
                }
            %}
        {% endif %}
    </h3>
</div>

{% if is_granted('ROLE_ADMIN') %}
    {% set feats = entity.feats %}
{% else %}
    {% set feats = entity.activeFeats %}
{% endif %}

{% if feats is empty %}
    <div class="col-md-12">
        Brak.
    </div>
{% else %}
    {% for feat in feats %}
        <div class="col-md-6">
            {% include "core/feat/entry.html.twig" with {'feat': feat} %}
        </div>
    {% endfor %}
{% endif %}
