{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        {% include 'base/components/basic_header.html.twig' with {headerTitle: 'Atuty ogólne'} %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-md-6 mb-4">
            {% include "base/buttons/entity_create_button.html.twig" with {'entityName': entityName} %}
        </div>
    {% endif %}

    {% include "core/feat/tabbed_display.html.twig" with {'feats': feats} %}
{% endblock %}
