{% extends "base/base_list.html.twig" %}

{% block list_title %}
    <h1>Atuty</h1>
{% endblock %}

{% block top_right_buttons %}
    <a href="{{ path('create_feat') }}" class="btn btn-outline-success" role="button">Stwórz <i class="fas fa-plus-circle"></i></a>
{% endblock %}

{% block table_headers %}
    <th>Nazwa</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for feat in feats %}
        <tr>
            <td class="align-middle">{{ feat.name }}</td>
            <td class="align-middle">
                {% set entityName = 'feat' %}

                {% include "base/buttons/entity_show_button.html.twig" with {'entityName': entityName, 'entityId': feat.id} %}
                {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entityId': feat.id} %}
                {% include "base/buttons/entity_delete_button.html.twig" with {'entityName': entityName, 'entityId': feat.id} %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
